{
  "swagger": "2.0",
  "info": {
    "title": "OnChain Crypto Currency API",
    "description": "Swagger definition for this API is available at https://onchain.io/docs/onchain.swagger.json",
    "version": "1.0",
    "contact": {
      "name": "onchain.io",
      "url": "https://onchain.io",
      "email": "support@onchain.io"
    }
  },
  "host": "onchain.io",
  "schemes": ["https"],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/address/balance/{coin_type}/{address}": {
      "get": {
        "summary": "Get Balance",
        "description": "Returns the satoshi balance, usd balance and user viewable balance for an address. For ERC20 tokens you need to pass in the contract ID and the number of decimal places.",
        "operationId": "GetBalance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.BalanceReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "address",
            "description": "The public address to lookup",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Address"
        ]
      }
    },
    "/api/address/balances/{coin_type}/{addresses}": {
      "get": {
        "summary": "Get Balances",
        "description": "Returns the satoshi balance, usd balance and user viewable balance for a set of addresses.",
        "operationId": "GetBalances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.BalancesReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "addresses",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "minItems": 1
          }
        ],
        "tags": [
          "Address"
        ]
      }
    },
    "/api/address/history/{coin_type}/{addresses}": {
      "get": {
        "summary": "Get History",
        "description": "Returns the transaction history for an address or addresses.",
        "operationId": "GetHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.HistoryReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "addresses",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "minItems": 1
          }
        ],
        "tags": [
          "Address"
        ]
      }
    },
    "/api/address/{coin_type}/{public_key}": {
      "get": {
        "operationId": "GetNetworkAddress",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.AddressReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "public_key",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "byte"
          }
        ],
        "tags": [
          "Address"
        ]
      }
    },
    "/api/erc20/create": {
      "post": {
        "operationId": "CreateTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.EthereumTransactionReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.ERC20TransactionRequest"
            }
          }
        ],
        "tags": [
          "ERC20Transaction"
        ]
      }
    },
    "/api/erc20/sign_and_send": {
      "post": {
        "operationId": "SignAndSend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.EthereumTransactionSendRequest"
            }
          }
        ],
        "tags": [
          "ERC20Transaction"
        ]
      }
    },
    "/api/ethereum/create": {
      "post": {
        "operationId": "CreateTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.EthereumTransactionReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.EthereumTransactionRequest"
            }
          }
        ],
        "tags": [
          "EthereumTransaction"
        ]
      }
    },
    "/api/ethereum/sign_and_send": {
      "post": {
        "operationId": "SignAndSend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.EthereumTransactionSendRequest"
            }
          }
        ],
        "tags": [
          "EthereumTransaction"
        ]
      }
    },
    "/api/multi_sig/create/{coin_type}": {
      "post": {
        "operationId": "CreateTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.MultiSigTransactionRequest"
            }
          }
        ],
        "tags": [
          "MultiSigTransaction"
        ]
      }
    },
    "/api/multi_sig/sign_and_send/{coin_type}": {
      "post": {
        "operationId": "SignAndSend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendRequest"
            }
          }
        ],
        "tags": [
          "MultiSigTransaction"
        ]
      }
    },
    "/api/transaction/create/{coin_type}": {
      "post": {
        "operationId": "CreateTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.TransactionRequest"
            }
          }
        ],
        "tags": [
          "Transaction"
        ]
      }
    },
    "/api/transaction/send_raw/{coin_type}": {
      "post": {
        "operationId": "SendRaw",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.RawTransactionSendRequest"
            }
          }
        ],
        "tags": [
          "Transaction"
        ]
      }
    },
    "/api/transaction/sign_and_send/{coin_type}": {
      "post": {
        "operationId": "SignAndSend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendReply"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "coin_type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "BITCOIN",
              "ETHEREUM",
              "TESTNET3",
              "BITCOIN_CASH",
              "BITCOIN_GOLD",
              "LITECOIN",
              "DASH",
              "DOGE",
              "BITCOIN_PRIVATE",
              "ZCASH",
              "ZCASH_TESTNET",
              "ZCLASSIC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onchain.TransactionSendRequest"
            }
          }
        ],
        "tags": [
          "Transaction"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "grpc.gateway.runtime.Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          }
        }
      }
    },
    "onchain.AddressReply": {
      "type": "object",
      "properties": {
        "network_address": {
          "type": "string"
        }
      }
    },
    "onchain.BalanceAddressReply": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "usd_balance": {
          "type": "number",
          "format": "float"
        },
        "balance": {
          "type": "string",
          "format": "uint64"
        },
        "unconfirmed_balance": {
          "type": "string",
          "format": "uint64"
        },
        "human_balance": {
          "type": "number",
          "format": "double"
        },
        "human_unconfirmed_balance": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "onchain.BalanceReply": {
      "type": "object",
      "properties": {
        "usd_balance": {
          "type": "number",
          "format": "float"
        },
        "balance": {
          "type": "string",
          "format": "uint64"
        },
        "unconfirmed_balance": {
          "type": "string",
          "format": "uint64"
        },
        "human_balance": {
          "type": "number",
          "format": "double"
        },
        "human_unconfirmed_balance": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "onchain.BalancesReply": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.BalanceAddressReply"
          }
        },
        "totals": {
          "$ref": "#/definitions/onchain.BalanceReply"
        }
      }
    },
    "onchain.CoinType": {
      "type": "string",
      "enum": [
        "BITCOIN",
        "ETHEREUM",
        "TESTNET3",
        "BITCOIN_CASH",
        "BITCOIN_GOLD",
        "LITECOIN",
        "DASH",
        "DOGE",
        "BITCOIN_PRIVATE",
        "ZCASH",
        "ZCASH_TESTNET",
        "ZCLASSIC"
      ],
      "default": "BITCOIN"
    },
    "onchain.ERC20TransactionRequest": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "amount": {
          "type": "string",
          "description": "The amount we wish to send in GWEI. We have to use a string to store this as\nEthereum stores amounts in potentially nunbers with 256 bits."
        },
        "gas_price": {
          "type": "string",
          "format": "uint64"
        },
        "gas_limit": {
          "type": "string",
          "format": "uint64"
        },
        "contract_id": {
          "type": "string"
        },
        "decimal_places": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "onchain.EthereumTransactionReply": {
      "type": "object",
      "properties": {
        "tx": {
          "type": "string",
          "format": "byte"
        },
        "to_sign": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "onchain.EthereumTransactionRequest": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "from": {
          "type": "string",
          "format": "byte",
          "title": "The from address is supplied as the full UNCOMPRESSED public key that corresponds to\nthe ECDCA private key.\ne.g. 04ab4284e59a1724f1f0f58114abfc4f34a98478972d5b8c67608a67a10e188b9a13764912b2782.....\nWe use the from address to get the nonce"
        },
        "amount": {
          "type": "string",
          "description": "The amount we wish to send in GWEI. We have to use a string to store this as\nEthereum stores amounts in potentially nunbers with 256 bits."
        },
        "gas_price": {
          "type": "string",
          "format": "uint64"
        },
        "gas_limit": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "onchain.EthereumTransactionSendRequest": {
      "type": "object",
      "properties": {
        "tx": {
          "type": "string",
          "format": "byte"
        },
        "v": {
          "type": "string",
          "format": "uint64"
        },
        "r": {
          "type": "string",
          "format": "byte"
        },
        "s": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "onchain.HashToSign": {
      "type": "object",
      "properties": {
        "input_index": {
          "type": "integer",
          "format": "int64"
        },
        "public_key": {
          "type": "string",
          "format": "byte"
        },
        "hash_to_sign": {
          "type": "string",
          "format": "byte"
        },
        "signature": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "onchain.HistoryReply": {
      "type": "object",
      "properties": {
        "total_txs": {
          "type": "string",
          "format": "uint64"
        },
        "txs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.HistoryReply.TX"
          }
        }
      }
    },
    "onchain.HistoryReply.TX": {
      "type": "object",
      "properties": {
        "confirmations": {
          "type": "string",
          "format": "uint64"
        },
        "time": {
          "type": "string",
          "format": "uint64"
        },
        "is_deposit": {
          "type": "boolean",
          "format": "boolean"
        },
        "address": {
          "type": "string"
        },
        "amount": {
          "type": "string",
          "format": "uint64"
        },
        "human_amount": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "onchain.MultiSigTransactionRequest": {
      "type": "object",
      "properties": {
        "coin_type": {
          "$ref": "#/definitions/onchain.CoinType"
        },
        "recipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.TransactionRecipient"
          }
        },
        "public_keys": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "title": "The from address is supplied as the full public key that corresponds to\nthe ECDCA private key.\ne.g. 03df154ebfcf29d29cc10d5c2565018bce2d9edbab267c31d2caf44a63056cf99f"
        },
        "miners_fee": {
          "type": "string",
          "format": "uint64"
        },
        "number_of_required_signatures": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "onchain.RawTransactionSendRequest": {
      "type": "object",
      "properties": {
        "coin_type": {
          "$ref": "#/definitions/onchain.CoinType"
        },
        "tx": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "onchain.TransactionRecipient": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string",
          "title": "To address as a string in the network format. e.g. 1QJVDzdqb1VpbDK7uDeyVXy9mR27CJiyhY"
        },
        "amount": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "onchain.TransactionReply": {
      "type": "object",
      "properties": {
        "tx": {
          "type": "string",
          "format": "byte"
        },
        "total_input_value": {
          "type": "string",
          "format": "uint64"
        },
        "hashes_to_sign": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.HashToSign"
          }
        }
      }
    },
    "onchain.TransactionRequest": {
      "type": "object",
      "properties": {
        "coin_type": {
          "$ref": "#/definitions/onchain.CoinType"
        },
        "recipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.TransactionRecipient"
          }
        },
        "from": {
          "type": "string",
          "format": "byte",
          "title": "The from address is supplied as the full public key that corresponds to\nthe ECDCA private key.\ne.g. 03df154ebfcf29d29cc10d5c2565018bce2d9edbab267c31d2caf44a63056cf99f"
        },
        "from_address": {
          "type": "string"
        },
        "miners_fee": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "onchain.TransactionSendReply": {
      "type": "object",
      "properties": {
        "tx_hash": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "onchain.TransactionSendRequest": {
      "type": "object",
      "properties": {
        "coin_type": {
          "$ref": "#/definitions/onchain.CoinType"
        },
        "tx": {
          "type": "string",
          "format": "byte"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/onchain.HashToSign"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-KEY",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}